<h1>Listing steps</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Recipe</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.title %></td>
        <td><%= step.description %></td>
        <td><%= step.recipe_id %></td>
        <td><%= link_to 'Show', recipe_step_path %></td>
        <td><%= link_to 'Edit', edit_recipe_step_path(step) %></td>
        <td><%= link_to 'Destroy', recipe_step_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_recipe_step_path %>
